export TF_VAR_ami_id="ami-0dbc3d7bc646e8516"
export TF_VAR_profile="jmh-user"
export TF_VAR_state_bucket="jmh-terraform-state"
export TF_VAR_subnet_id="subnet-99b6c8fc"
export TF_VAR_security_group_id="sg-62fa5e1a"
export TF_VAR_app_name="SysAdmin"
export TF_VAR_environment_name="dev"

source ~/venv/SysAdmin/bin/activate
